.arrow {
  width: 24px;
  height: 24px;
  fill: var(--color);

  position: absolute;
  top: 9.3px;
  right: 15px;

  transition: all 0.3s ease-in-out;

  &.arrow--active {
    fill: var(--color--white);
    transform: rotate(180deg);
  }
}

.dropdown {
  width: 100%;
  position: relative;
  background: transparent;
  text-align: start;

  border-radius: 0.5rem;

  transition: all 0.1s ease-out 0.4s;

  cursor: pointer;

  z-index: 2;

  overflow: hidden;

  &.dropdown--active {
    box-shadow: 0 0.9375rem 1.5625rem 0 rgba(0,0,0,.2);

    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    background-color: var(--color--purple-500);
    z-index: 3;

    overflow: visible;
  }

  &:hover {
    .top__border {
      background-color: var(--color--purple-500);
      border-color: var(--color--purple-500);
      color: var(--color--white);
    }

    .arrow {
      fill: var(--color--white);
    }
  }
}

.dropdown__list {
  transition: max-height 0.6s ease-out;
  max-height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;

  background: var(--color--white);
  box-shadow: 0 0.9375rem 1.5625rem 0 rgba(0,0,0,.2);

  position: absolute;
  width: 100%;
}

.dropdown__list--active {
  max-height: 450px;
  overflow-y: auto;
  opacity: 1;
}

.dropdown__list-item {
  cursor: pointer;
  list-style: none;
  padding: 15px;
}

.dropdown__list-item--active {
  background: #f4f4f4;
}

.dropdown__list-item:hover {
  background: #f4f4f4;
}

.top__border {
  color: var(--color);
  background-color: red;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--color);
  text-transform: uppercase;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.18;

  padding: 0.71875rem 2.5rem 0.71875rem 0.875rem;

  text-overflow: ellipsis;
  white-space: nowrap;

  &.top__border--active {
    background-color: var(--color--purple-500);
    border-color: var(--color--purple-500);
    color: var(--color--white);

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.dropdown__toggle {
  background: #fff;
  overflow: hidden;
}

.dropdown__toggle:hover {
  background: #fff;
}