:root {
    --color: #5405bd;
    --color--primary: #180136;
    --color--purple-300: #bf91fc;
  }

.empty-state-container {
    width: 100%;
    display: flex;

    .image {
        width: 50%;
        padding: 2rem;

        img {
            max-width: 100%;
        }
    }

    .text {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .title {
            font-size: calc(1.6666666667vw + 4px);
            margin-top: 0;
            margin-bottom: 1rem;
            color: var(--color--primary);
            font-family: var(--font-gilroy);
            font-weight: 700;
            line-height: 1.18;
        }

        p {
            margin: 0;
        }
    }
}