.App {
  text-align: center;
  min-height: 100vh;
}

.result-customers {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 8.33333333%;
  margin-right: 8.33333333%;

  .card-container {
    display: grid;
    row-gap: 2rem;
    column-gap: 2%;
  
    padding-right: 1%;
    padding-left: 1%;
  
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .dropdown-container {
    display: grid;
    row-gap: 2rem;
    column-gap: 2%;

    padding-right: 1%;
    padding-left: 1%;
  
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.h5, h5 {
  font-size: 1.125rem;
}

.card-wrapper {
  .text-container {
    .label {
      font-size: 0.75rem;
    }
  }
}

@media(max-width: 575px) {
  .result-customers {
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    .card-container {
      grid-template-columns: 1fr;
    }

    .dropdown-container {
      margin-bottom: 3rem;

      grid-template-columns: 1fr;
      row-gap: 1rem;
    }
  }
}

@media(min-width: 576px) {
  .result-customers {
    max-width: 768px;

    .card-container {
        grid-template-columns: 1fr 1fr;
    }

    .dropdown-container {
      margin-bottom: 3rem;

      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 1rem;
    }
  }
}

@media(min-width: 768px) {
  .result-customers {
    max-width: 991px;

    .card-container {
        grid-template-columns: 1fr 1fr;
    }

    .dropdown-container {
      margin-bottom: 2rem;

      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 1rem;
    }
  }

  .card-wrapper {
    .text-container {
      .label {
        font-size: 0.875rem;
      }
    }
  }
}

@media(min-width: 992px) {
  .result-customers {
    max-width: 1439px;
  }

  .h5,h5 {
      font-size: calc(.4464285714vw + 13.5714285714px)
  }
}

@media(min-width: 1440px) {
  .result-customers {
    max-width: 1919px;

    .card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .h5,h5 {
      font-size:calc(.4166666667vw + 14px);
  }
}

@media(min-width: 1920px) {
  .result-customers {
    max-width: 1900px;
  }

  .h5,h5 {
      font-size:1.375rem
  }

  .card-wrapper {
    .text-container {
      .label {
        font-size: 1rem;
      }
    }
  }
}

@media(min-width: 2100px) {
  .result-customers {
    .card-container {
      margin-left: 8.33333333%;
      margin-right: 8.33333333%;
    }

    .dropdown-container {
      margin-left: 8.33333333%;
      margin-right: 8.33333333%;
    }
  }
}
