:root {
  --color: #5405bd;
  --color--primary: #180136;
  --color--purple-300: #bf91fc;
  --color--white: #fff;

  --font-gilroy: '__gilroyFont_e0bf30', '__gilroyFont_Fallback_e0bf30', arial, futura;
  --font-inter: 'Inter', helvetica, arial;
  --font-talkdesk: '__iconsFont_89d5cb', '__iconsFont_Fallback_89d5cb';
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 24px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px 20px transparent;
  border: solid 20px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 20px 20px var(--color);
  border: solid 9px transparent;
  border-radius: 14px;
}

::-webkit-scrollbar-button {
  display: none;
}
